/*
0-360px:      Phone
360-600px:    Phablet
600-900px:    Tablet portrait
900-1200px:   Tablet landscape
1200-1800px:  is where normal styles apply
1800px +:     Big desktop

$breakpoint choices:
-phone
-phablet
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  50% {
    transform: translateY(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  50% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #666;
  padding: 2.5rem; }
  @media (max-width: 37.5em) {
    body {
      padding: 0; } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: fadeIn 2.8s ease-in-out .5s;
    animation-fill-mode: backwards; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        letter-spacing: 2rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2.22rem;
    animation: moveInTop 3s ease-out; }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        letter-spacing: 1rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #0FA5C8, #038FB0);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
  text-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2); }
  .heading-secondary:hover {
    transform: scale(1.05) rotate(0.5deg) translateY(-0.6rem);
    text-shadow: 0.5rem 0.8rem 3rem rgba(0, 0, 0, 0.3);
    cursor: pointer; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .15s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.6rem 0.8rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #666; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveFromBottom 3s ease-out; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(15, 165, 200, 0.8), rgba(3, 143, 176, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 3%, 50% 0, 100% 3%, 100% 100%, 50% 96%, 0 100%); }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 4rem;
    animation: fadeIn 2.8s ease-in-out .5s;
    animation-fill-mode: backwards; }
    @media (max-width: 56.25em) {
      .header__logo-box {
        top: 6rem;
        left: 7rem; } }
    @media (max-width: 22.5em) {
      .header__logo-box {
        top: 5rem;
        left: 4rem; } }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 10rem 0 25rem 0;
  margin-top: -5vh; }
