// COLORS
$color-primary-light: #0FA5C8;
$color-primary: #038FB0;
$color-primary-dark: #026B84;

$color-secondary: #FFE800;
$color-secondary-light: #FFF164;
$color-secondary-dark: #C6B400;

$color-gray-light-1: #f7f7f7;

$color-white: #fff;
$color-gray-dark: #666;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;
$default-font-size-phablet: 2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-hirizontal: 6rem;