@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 2.5rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, .8), 
    rgba($color-primary, .8)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 3%, 50% 0, 100% 3%, 100% 100%, 50% 96%, 0 100%);

  &__text-box {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation: fadeIn 2.8s ease-in-out .5s;
    animation-fill-mode: backwards;
  }

  &--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2.22rem;
  
    animation: moveInTop 3s ease-out;
  }
}

.btn {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .15s;
    position: relative;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 1.5rem rgba($color-black,.2);  
  
    &::after {
      transform: scale(1.5);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .6rem .8rem rgba($color-black,.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }


  &--white {
    background-color: $color-white;
    color: $color-gray-dark;
  
    &::after {
      background-color: $color-white;
    }
  }

  &--animated {
    animation: moveFromBottom 3s ease-out;
  }
}





@keyframes fadeIn {
  0% {
    opacity: 0;
    // transform: scaleX(1.1);
  }

  100% {
    opacity: 1;
    // transform: scaleX(1);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  50% {
    transform: translateY(.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  50% {
    transform: translateY(-.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}